*{
    background-color: rgb(12, 10, 10);
    color: white;
}
body{
    height: 100vh;
    display: grid;
  
}
.container{

    display: grid;
    place-items: center;

}
.habits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.habit{
    border: 3px solid purple;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
}
#add-habit{
    background-color: purple;
    border-style: none;
    padding: .2rem;
    color: white;
}
input{
    border: 1px solid purple;
}